[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"
inflection = "*"
coverage = "*"
numpy = "*"
opencv-python = "*"
pyqt6 = "*"
python-dotenv = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
